[Unit]
Description=Sync Azure AD Users to Samba Folders
# Ensure network is up before running
After=network-online.target smb.service
Wants=network-online.target

[Service]
Type=oneshot
# Execute the script
ExecStart=/usr/sbin/sleep 1
ExecStart=/usr/sbin/sh /usr/scripts/init-share.sh
# Run as root so it can mkdir, chown, and pdbedit
User=root
# Clean up environment to ensure no leaked vars, but keeping necessary paths
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Optional: What to do if it fails?
# Restart=on-failure
# RestartSec=5s

[Install]
WantedBy=multi-user.target
