[Unit]
Description=Login to Tailscale
ConditionPathExists=!/etc/init-tailscale
# Ensure network is up before running
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dos2unix /etc/secrets
ExecStart=/usr/bin/sleep 1
ExecStart=/usr/bin/sh /usr/scripts/init-tailscale.sh
ExecStart=/usr/bin/touch /etc/init-tailscale
User=root
# Clean up environment to ensure no leaked vars, but keeping necessary paths
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
