[Unit]
Description=Custom NAT64 DNS Server
Wants=tailscaled.service
After=network.target tailscaled.service

[Service]
Type=simple
ExecStart=/usr/sbin/python3 /usr/scripts/nat64dns.py

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
